// Variables

$primary: #42DCA3;

$bodyColor: #FFF;
$fontColor: #202020;

$primaryColor: #f4f3ef;
$secondaryColor: #4e362a;
$secondaryForeColor: #fff;

$navbarColor: #FFF;
$introTextColor: #ecf0f1;

$orderSection: #f9fafc;